$backgroundColor: rgb(143, 125, 89);
$backgroundColorSecondary: rgb(224, 204, 172);
$line: rgb(246, 133, 133);
$lineSecondary: rgb(245, 101, 101);
$mainBox: cadetblue;
$mainBoxSecondary: rgb(66, 109, 110);
$heart: rgb(200, 61, 61); //C83D3D
$cards: rgb(160, 160, 211); //A0A0D3